/* stylesheet
 * App main data.
 */

html {
    height: 100%;
    overflow: hidden;
    user-select: none; -moz-user-select: none;
    touch-callout: none;
}

body {
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;

    width: 100%;
    height: 100%;
    margin: 0px;

    /* overflow: auto; */
    overflow: hidden;

    font-family: 'Helvetica Neue', 'Arial', sans-serif;
    background-color: #fff;
    color: #666;
}

a {
    text-decoration: none;
    color: #666;
}

#header, #footer {
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    z-index: 400;

    display: table-cell;
    text-align: center;
    vertical-align: middle;
}


#header {
    bottom: auto;

    width: 100%;
    height: 10px;

    font-size: 10;
}

#footer {
    top: auto;

    width: 100%;
    height: 10px;

    font-size: 10;
}

@keyframes start {
    0% { transform: opacity: 0; }
    100% { transform: opacity: 1; }
}

#container {
    position: absolute;
    top: 50%; left: 50%;

    display: flex; display: -webkit-flex;
    flex-direction: column; -webkit-flex-direction: column;
    justify-content: space-between; -webkit-justify-content: space-between;
    align-items: center; -webkit-align-items: center;

    width: 320px; height: 320px;
    margin: -160px -160px;

    animation: start 0.5s forwards;
}

.main_screen {
    z-index: 100;

    display: flex; display: -webkit-flex;
    flex-wrap: wrap;
    justify-content: center; -webkit-justify-content: center;
    align-items: center; -webkit-align-items: center;

    width: 300px; height: 300px; border: none;

    background-color: #fff;
    color: #666;
}

@media screen and (min-width: 480px) and (min-height: 480px) {
    #container { width: 480px; height: 480px; margin: -240px -240px; }
    .main_screen { width: 450px; height: 450px; }
}
@media screen and (min-width: 640px) and (min-height: 640px) {
    #container { width: 640px; height: 640px; margin: -320px -320px; }
    .main_screen { width: 600px; height: 600px; }
}
