/* stylesheet
 * App main data.
 */

html {
    height: 100%;
    overflow: hidden;
    user-select: none; -moz-user-select: none;
    touch-callout: none;
}

body {
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;

    width: 100%;
    height: 100%;
    margin: 0px;

    /* overflow: auto; */
    overflow: hidden;

    font-family: 'Helvetica Neue', 'Arial', sans-serif;
    background-color: #fff;
    color: #666;
}

a {
    text-decoration: none;
    color: #666;
}
a:hover {
    text-decoration: none;
    color: #000;
}

#header, #footer {
    /* position: absolute; */
    top: 0; left: 0; right: 0; bottom: 0;
    z-index: 400;

    display: table-cell;
    text-align: center;
    vertical-align: middle;
}


#header {
    bottom: auto;

    width: 100%;
    height: 30px;

    font-size: 20;
}

#footer {
    top: auto;

    width: 100%;
    height: 10px;

    font-size: 10;
}

@keyframes start {
    0% { transform: opacity: 0; }
    100% { transform: opacity: 1; }
}

#container {
    position: absolute;
    top: 50%; left: 50%;

    display: flex; display: -webkit-flex;
    flex-direction: column; -webkit-flex-direction: column;
    justify-content: space-between; -webkit-justify-content: space-between;
    align-items: center; -webkit-align-items: center;

    width: 360px; height: 360px;
    margin: -180px -180px;

    animation: start 0.5s forwards;
}

.main_screen {
    z-index: 100;

    display: flex; display: -webkit-flex;
    flex-wrap: wrap;
    justify-content: center; -webkit-justify-content: center;
    align-items: center; -webkit-align-items: center;

    width: 320px; height: 320px; margin: 0px; border: none;

    background-color: #fff;
    color: #666;
}

@media screen and (min-width: 540px) and (min-height: 540px) {
    #container { width: 540px; height: 540px; margin: -270px -270px; }
    .main_screen { width: 480px; height: 480px; }
    #header { height: 45px; font-size: 30; }
    #footer { height: 15px; font-size: 15; }
}
@media screen and (min-width: 720px) and (min-height: 720px) {
    #container { width: 720px; height: 720px; margin: -360px -360px; }
    .main_screen { width: 640px; height: 640px; }
    #header { height: 60px; font-size: 40; }
    #footer { height: 20px; font-size: 20; }
}
